:root{
    --azulmarinho: #121e52;
    --azulclaro: #0091bd;
    --branco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Menu*/

header .container{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

header .container a:hover{
    background-color: rgb(228, 227, 227);
}
    

.logo {
    width: 130px;
}

a{
    color: var(--azulmarinho);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;    
}

#btn-mobile{
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: 2rem
}

/*Box principal*/

.boxprincipal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0 , 0, .50), rgba(0, 0 , 0, .50)) 100%, url(/assets/fundo.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: flex-start;
}

.titulo {
    font-size: 40px;
    font-family: 'Francois One', sans-serif;
}

.boxprincipal .description {
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

.container{
    margin-left: 30px;
}



footer{
    list-style: none;
}



@media (max-width: 600px){
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        font-weight: bold;
        color: var(--azulmarinho);
    }
    #menu{
        display: none;
        position: absolute;
        width: 100%;
        top: 105px;
        right: 0px;
        background: #ececec;
        z-index: 1000;
    }
    #nav.active #menu{
        display: block;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #hamburger{
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: var(--azulmarinho);
    }
    #hamburger::after, #hamburger::before{
        content: " ";
        width: 20px;
        height: 2px;
        display: block;
        background: currentColor;
        margin-top:5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}